<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>actualizar datos pintala</title>
</head>
<body>
    <form action="" method="POST">
        <div>
           <input type="text" name="txtnombre" id="txtnombre" value=""  placeholder="ingrese su nombre completo" required>
           <input type="email" name="txtemail" id="txtemail" value=""  placeholder="ingrese su correo" required>
           <input type="password" name="txtpassword" id="txtpassword" value=""  placeholder="ingrese su contraseña" required>
           <input type="password" name="txtrpassword" id="txtrpassword" value=""  placeholder="ingrese su contraseña" required>
           <input type="submit" value="actualizar" id="mactualizar" name="mactualizar">
        </div>
    </form>
</body>
</html>