header{
    margin-left: 5%;
}
.contenido{
    margin-bottom: 30%;
    align-content: flex;
    margin-top: 5%;
}
.imagen1 img{
    margin-left: 10%;
}
.login1 form{
    max-width: 25%;
    margin-left: 54%;
    margin-top: -63%;
    display: block;
    border-style: ridge;
    border-color: #ffffff;
    border-radius: 40px;
    box-shadow: 5px 5px 5px #cccccc;
    text-align: center;
    z-index: -2;  
    height: 700px; 
}
.text-informativo{
    font-size: 25px;
    margin-top: 1%;
    margin-left: 10%;
}
.login1 .user{
    width: 70% !important;
    border-style: ridge !important;
    border-color: #cccccc !important;
    border-radius: 40px !important;
}
.login1 .password{
    width: 70% !important;
    border-style: ridge !important;
    border-radius: 20px !important;
}
.login1 #sesion{
    width: 70%;
    border-radius: 20px;
    padding: 15px;
    border: none;
    font-size: 25px;
    background-color: rgb(173, 173, 173);
    color: white;
}
.login1 #sesion:hover{
    background-color: #06c1ff;
}
.redes-sociales{
    margin-left: -50%;
}
.redes-sociales img{
    width: 35px;
    height: 35px;
}
.redes-sociales p{
    margin-left: 5%;
    margin-top: -7.5%;
}
.logopintala{
    width: 70%;
}
@media(max-width:1400px){
    .text-informativo{
        font-size: 22px;
        margin-top: 1%;
        margin-left: 5%;
    }
    .contenido{
        margin-bottom: 30%;
        align-content: flex;
        margin-top: -19%;
    }
    .login1 form{
        max-width: 25%;
        margin-left: 54%;
        margin-top: -73%;
        display: block;
        border-style: ridge;
        border-color: #ffffff;
        border-radius: 40px;
        box-shadow: 5px 5px 5px #cccccc;
        text-align: center;
        z-index: -2;  
        height: 700px; 
    }
    .imagen1 img{
        width: 45%;
        margin-top: 10%;
        margin-left: 4%;
    }
    .redes-sociales p{
        margin-left: 20%;
        margin-top: -10.5%;
    }

}
@media(max-width:1300px){
    .imagen1 img{
        width: 90%;
        margin-top: 10%;
        margin-left: 4%;
    }
    .login1 form{
        max-width: 80%;
        margin-top: -30%;
        margin-left: 10%;
    }
    .redes-sociales p{
        margin-left: 5%;
        margin-top: -5.5%;
    }
    .text-informativo{
        visibility: hidden;
    }
}
@media(max-width:1000px){
    .imagen1 img{
        width: 90%;
        margin-top: 10%;
        margin-left: 4%;
    }
    .login1 form{
        max-width: 80%;
        margin-top: -30%;
        margin-left: 10%;
    }
    .redes-sociales p{
        margin-left: 5%;
        margin-top: -5.5%;
    }
    .text-informativo{
        visibility: hidden;
    }
    .text-informativo{
        visibility: hidden;
    }
    
}
@media(max-width:500px){

}
@media(max-width:400px){
    .logopintala{
        width: 50%;
    }
    .login1 form{
        max-width: 80%;
        margin-top: -86%;
        margin-left: 10%;
        height: 550px;
    }
    .login1 h1{
        font-size: 30px;
    }
    .redes-sociales p{
        margin-left: 5%;
        margin-top: -10.5%;
    }
    .redes-sociales img{
        margin-left: -20%;
        width: 10%;
        padding-right: 3px;
    }
    .login1 #sesion{
        font-size: 20px;
    }
    .text-informativo{
        visibility: hidden;
    }
}